*{
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-bangla {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.active{
  background-color: #422ad5;
  color: white;
}